<head>

  <% content_for :title do %>
    Битва
  <% end %>

</head>

<body>
<div class="container">
  <div class="row justify-content-center align-items-center" style="margin-bottom: 1%;">
    <div class="col-5 text-center">
      <h2>Команда 1</h2>
      <div class='controls mt-4'>
        <div class='row justify-content-start'>
          <div class='col-6 text-center'>
            <%= link_to 'Добавить Рыцаря', '/create_knight', class: 'btn btn-primary' %>
          </div>
          <div class='col-6 text-center'>
            <%= link_to 'Добавить Мага', '/create_mage', class: 'btn btn-primary' %>
          </div>
          <div class='col-6 text-center mt-3'>
            <%= link_to 'Удалить Рыцаря', '/destroy_knight', method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          </div>
          <div class='col-6 text-center mt-3'>
            <%= link_to 'Удалить Мага', '/destroy_mage', method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 text-center">
      <h2>Команда 2</h2>
      <div class='controls mt-3'>
        <div class='row justify-content-end'>
          <div class='col-6 text-center'>
            <%= link_to 'Добавить Медузу', '/create_medusa', class: 'btn btn-primary' %>
          </div>
          <div class='col-6 text-center'>
            <%= link_to 'Добавить Джинна', '/create_jinn', class: 'btn btn-primary' %>
          </div>
          <div class='col-6 text-center mt-3'>
            <%= link_to 'Удалить Медузу', '/destroy_medusa', class: 'btn btn-danger' %>
          </div>
          <div class='col-6 text-center mt-3'>
            <%= link_to 'Удалить Джина', '/destroy_jinn', class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='battlefield'>
  <div class='team_container left' style="width: 40%">
    <% @team1.each do |character| %>
      <div>
        <%= image_tag character.unit %>
      </div>
    <% end %>
  </div>
  <div class='team_container right' style="width: 40%">
    <% @team2.each do |character| %>
      <div>
        <%= image_tag character.unit %>
      </div>
    <% end %>
  </div>
</div>

<div class="centered-button">
  <a href="/" class="btn btn-secondary btn-lg" style="display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  ">Вернуться назад</a>
</div>

</body>
